In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree

In [3]:
df = pd.read_csv("Z://SEM 5/20XW58 MACHINE LEARNING LAB/ws7-decision-trees/datasets/tic-tac-toe-endgame.csv")

In [4]:
df.head()

  V1 V2 V3 V4 V5 V6 V7 V8 V9       V10
0  x  x  x  x  o  o  x  o  o  positive
1  x  x  x  x  o  o  o  x  o  positive
2  x  x  x  x  o  o  o  o  x  positive
3  x  x  x  x  o  o  o  b  b  positive
4  x  x  x  x  o  o  b  o  b  positive

In [14]:
X = df.values[:,1:9]
Y = df.values[:,9]

In [15]:
X_train , X_test , Y_train,Y_test = train_test_split(X,Y,test_size = 0.3,random_state=None)