In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn import preprocessing

In [2]:
df = pd.read_csv("D:/PSG/PSG-Z/SEM 5/20XW58 MACHINE LEARNING LAB/ws7-decision-trees/datasets/tic-tac-toe-endgame.csv")

In [3]:
df.head()

  V1 V2 V3 V4 V5 V6 V7 V8 V9       V10
0  x  x  x  x  o  o  x  o  o  positive
1  x  x  x  x  o  o  o  x  o  positive
2  x  x  x  x  o  o  o  o  x  positive
3  x  x  x  x  o  o  o  b  b  positive
4  x  x  x  x  o  o  b  o  b  positive

In [4]:
le1 = preprocessing.LabelEncoder()

for i in df.columns[:-1]:
    df[i] = le1.fit_transform(df[i])

In [5]:
df.head()

   V1  V2  V3  V4  V5  V6  V7  V8  V9       V10
0   2   2   2   2   1   1   2   1   1  positive
1   2   2   2   2   1   1   1   2   1  positive
2   2   2   2   2   1   1   1   1   2  positive
3   2   2   2   2   1   1   1   0   0  positive
4   2   2   2   2   1   1   0   1   0  positive

In [60]:
le2 = preprocessing.LabelEncoder()

df['V10'] = le2.fit_transform(df['V10'])

In [61]:
df.head()

   V1  V2  V3  V4  V5  V6  V7  V8  V9  V10
0   2   2   2   2   1   1   2   1   1    1
1   2   2   2   2   1   1   1   2   1    1
2   2   2   2   2   1   1   1   1   2    1
3   2   2   2   2   1   1   1   0   0    1
4   2   2   2   2   1   1   0   1   0    1

In [6]:
X = df[df.columns[:-1]]
Y = df[df.columns[9]]

In [7]:
X_train , X_test , Y_train,Y_test = train_test_split(X.to_numpy(),Y.to_numpy(),test_size = 0.3,random_state=None)

In [8]:
clf = DecisionTreeClassifier(criterion="entropy")

clf = clf.fit(X_train,Y_train)

y_pred = clf.predict(X_test)

In [9]:
count = 0
for i in range(len(y_pred)):
    if(y_pred[i]==Y_test[i]):
        count += 1

print(f"Accuracy : {count/len(y_pred)}")

Accuracy : 0.90625

In [12]:
# import matplotlib.pyplot as plt
# plt.figure(figsize=(100,50))
# tree.plot_tree(clf)
# plt.savefig('id3.png')