In [2]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("D:/PSG/PSG-Z/SEM 5/20XW58 MACHINE LEARNING LAB/ws8-random-forest/datasets/tic-tac-toe-endgame.csv")

In [4]:
df.head()

  V1 V2 V3 V4 V5 V6 V7 V8 V9       V10
0  x  x  x  x  o  o  x  o  o  positive
1  x  x  x  x  o  o  o  x  o  positive
2  x  x  x  x  o  o  o  o  x  positive
3  x  x  x  x  o  o  o  b  b  positive
4  x  x  x  x  o  o  b  o  b  positive

In [5]:
from sklearn import preprocessing

In [8]:
features = df.columns[0:9]

features

Index(['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9'], dtype='object')

In [13]:
le1 = preprocessing.LabelEncoder()
    
for i in features:
    df[i] = le1.fit_transform(df[i])

In [14]:
df.head()

   V1  V2  V3  V4  V5  V6  V7  V8  V9       V10
0   2   2   2   2   1   1   2   1   1  positive
1   2   2   2   2   1   1   1   2   1  positive
2   2   2   2   2   1   1   1   1   2  positive
3   2   2   2   2   1   1   1   0   0  positive
4   2   2   2   2   1   1   0   1   0  positive

In [16]:
le2 = preprocessing.LabelEncoder()

df['V10'] = le2.fit_transform(df['V10'])

In [17]:
df.head()

   V1  V2  V3  V4  V5  V6  V7  V8  V9  V10
0   2   2   2   2   1   1   2   1   1    1
1   2   2   2   2   1   1   1   2   1    1
2   2   2   2   2   1   1   1   1   2    1
3   2   2   2   2   1   1   1   0   0    1
4   2   2   2   2   1   1   0   1   0    1

In [18]:
X = df[features]
Y = df['V10']

In [22]:
from sklearn.model_selection import train_test_split

X_train, X_test,Y_train,Y_test = train_test_split(X.to_numpy(),Y.to_numpy(),test_size=0.33)

In [24]:
clf = RandomForestClassifier(criterion="entropy")

clf = clf.fit(X_train,Y_train)

Y_pred = clf.predict(X_test)

In [25]:
count = 0

for i in range(len(Y_pred)):
    if(Y_pred[i]==Y_test[i]):
        count+=1
        
print(f"Accuracy : {count/len(Y_pred)}")

Accuracy : 0.9022082018927445

In [35]:
# from sklearn.tree import plot_tree

# plt.figure(figsize=(100,50))
# plot_tree(clf.estimators_[0])
# plt.savefig('randomforest.png')

In [34]:
# dir(clf)